html, body {
    height: 100%;
}

/* Don't allow window scrolling */
body {
  overflow-y:hidden;
}

/* table-packed class for compact tables */
table.table-packed th, table.table-packed td, table.table-packed .form-control {
    padding: 0px;
    margin: 0px;
}

table.table-packed {
    border-spacing: 0px !important
}

.table-container {
    overflow-y:scroll;
    max-height:300px;   
}

.table-container-lg {
    overflow-y:scroll;
    max-height: 85vh !important;
}

.link-inline-block {
    display: inline-block;
}