html, body {
    height: 100%;
}

body {
    padding-top: 70px;
}

/* table-packed class for compact tables */
table.table-packed th, table.table-packed td, table.table-packed .form-control {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

fieldset {
    border: 1px solid #000;
}

legend {
    width: auto
}

table.table-packed {
    border-spacing: 0px !important
}

.checkbox  {
  margin:0px !important;
  padding:0px !important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.navbar-img {
    width: "30px" !important;
    height: 30px !important;
}