{% extends 'main.html' %}
{% set active_page = "edit" %}

{% block imports %}
    <script src="{{ url_for('static', filename='js/edit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shortcuts.js') }}"></script>
{% endblock %}

{% block content %}
<form class="form-horizontal" id="settings">
    <div class="row mx-3 mb-3">
        <div class="col input-group">
            <label for="filter" class="col-2 col-form-label">Filter</label>
            <select class="form-select form-control" aria-label="filter" id="filter">
                {% for this_filter_id, display_name in filters %}
                <option value="{{ this_filter_id }}"{{ ' selected' if filter == this_filter_id }}>{{ display_name }}</option>
                {% endfor %}
            </select>
                {% set display_none = ' style = "display: none"' | safe %}
            <div class="btn-group btn-group-toggle mx-2" data-toggle="buttons" id="filter-scope"{{ display_none if filter_scope is none }}>
                {% set filter_scopes = ['source', 'target', 'both', 'either'] %}
                {% for this_filter_scope in filter_scopes %}
                <label class="btn btn-primary{{ ' active' if filter_scope == this_filter_scope }}">
                    <input type="radio" name="filter-scope" id="{{ this_filter_scope }}"{{ ' checked' if filter_scope == this_filter_scope }}>{{ this_filter_scope | title_case }}
                </label>
                {% endfor %}
            </div>
        </div>
        <div class="col input-group">
            <label for="order" class="col-2 col-form-label">Order</label>
            <select class="form-select form-control" aria-label="order" id="order">
                {% for id, display_name in orders %}
                <option value="{{ id }}"{{ ' selected' if order == id }}>{{ display_name }}</option>
                {% endfor %}
            </select>
            <div class="btn-group btn-group-toggle mx-2" data-toggle="buttons" id="order-col"{{ display_none if order_col is none }} >
                {% set order_cols = ['source', 'target'] %}
                {% for this_order_col in order_cols %}
                <label class="btn btn-primary{{ ' active' if order_col == this_order_col }}">
                    <input type="radio" name="order-column" id="{{ this_order_col }}"{{ ' checked' if order_col == this_order_col }}>{{ this_order_col | title_case }}
                </label>
                {% endfor %}
            </div>
            <div class="btn-group btn-group-toggle mx-2" data-toggle="buttons" id="order-orientation">
                {% set order_orientations = [('ascending', '↑'), ('descending', '↓')] %}
                {% for this_order_orientation, icon in order_orientations %}
                <label class="btn btn-primary{{ ' active' if order_orientation == this_order_orientation }}">
                    <input type="radio" name="order-orientation" id="{{ this_order_orientation }}"{{ ' checked' if order_orientation == this_order_orientation }}>{{ icon }}
                </label>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="mb-2 btn-block d-flex justify-content-center"  role="group">
            <a class="btn btn-primary mx-2" href="#" id="start-over"><u>S</u>tart over</a>
            <a class="btn btn-primary mx-2" href="#" id="skip-page">Ski<u>p</u> page</a>
            <a class="btn btn-primary mx-2" href="#" id="select-all">Select <u>a</u>ll</a>
            <a class="btn btn-primary mx-2" href="#" id="deselect-all"><u>D</u>eselect all</a>
            <a class="btn btn-primary mx-2" href="#" id="submit">Remove selected and save changes (<u>Enter</u>)</a>
            <a class="btn btn-danger mx-2 disabled" href="#" id="remove-all">Remove all rows (<u>X</u>)</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <p>
            Showing
                <span id='showing-from'>0</span>
             to 
                <span id='showing-to'>0</span>
             of 
                <span id='showing-total'>0</span>
             rows
                (<span id='num-selected'>0</span> selected for removal)</span>
        </p>
    </div>
</div>
</form>



<div class="mx-3 pb-1">
    <table class="table table-packed" id="data-table">
        <thead class="thead-dark">
            <tr>
                <th class="col-1"></th>
                <th class="col-1">Index</th>
                <th class="col-5">Source</th>
                <th class="col-6">Target</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!-- <div class="m-3 text-center">No matches found.</div> -->
{% endblock %}