{% extends 'main.html' %}

{% block imports %}
    <script type="text/javascript">
        issueId = "{{ filter_id }}";
        editUrl = "{{ url_for('edit_.edit') }}";
    </script>
    <script src="{{ url_for('static', filename='js/actions.js') }}"></script>
{% endblock %}

{% block content %}
<form class="form-horizontal">
    <div class="row mx-3 mb-3">
        <div class="col input-group">
            <label for="filter" class="col-2 col-form-label">Filter</label>
            <select class="form-select form-control" aria-label="filter" id="filter">
                <option>(None)</option>
                {% for display_name, this_filter_id in issues %}
                <option value="{{ this_filter_id }}" {{ 'selected' if filter_id==this_filter_id }}>{{ display_name }}</option>
                {% endfor %}
            </select>
            <div class="btn-group btn-group-toggle mx-2" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="scope" id="source" checked>Source
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="scope" id="target">Target
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="scope" id="both">Both
                </label>
                <label class="btn btn-primary btn-disabled">
                    <input type="radio" name="scope" id="any" disabled>Any
                </label>
            </div>
        </div>
        <div class="col input-group">
            <label for="filter" class="col-2 col-form-label">Order</label>
            <select class="form-select form-control" aria-label="order">
                <option>(None)</option>
            </select>
        </div>
    </div>
</form>

{% if df is defined %}
    {% if df is not none %}
    <div class="mx-3 pb-1">
        <table class="table table-packed">
            <thead class="thead-dark">
                <tr>
                    <th class="col-1">Index</th>
                    <th class="col-5">Source</th>
                    <th class="col-6">Target</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in df.iterrows() %}
                <tr class="{% if row.keep %}{{ 'table-success' }} {% else %}{{ 'table-danger' }} {% endif %}">
                    <td>{{ index }}</td>
                    <td>{{ row.source }}</td>
                    <td>{{ row.target }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="m-3 text-center">No matches found.</div>
    {% endif %}
{% endif %}
{% endblock %}