{% extends 'main.html' %}
{% set active_page = "find_replace" %}

{% block imports %}
    <script src="{{ url_for('static', filename='js/find_replace.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shortcuts.js') }}"></script>
{% endblock %}

{% block content %}
<form class="form-horizontal" id="settings">
    <div class="row mx-3 mb-3">
        <div class="col input-group">
            <label for="find" class="col-2 col-form-label">Find</label>
            <input type="text" class="form-control" aria-label="find" id="find" value="{{ find }}">
            <div class="btn-group btn-group-toggle mx-2" data-toggle="buttons" id="scope">
                {% set scopes = ['source', 'target', 'both', 'either'] %}
                {% for this_scope in scopes %}
                <label class="btn btn-primary{{ ' active' if scope == this_scope }}">
                    <input type="radio" name="scope" id="{{ this_scope }}"{{ ' checked' if scope == this_scope }}>{{ this_scope | title_case }}
                </label>
                {% endfor %}
            </div>
        </div>
        <div class="form-check mx-3 d-flex align-items-center" display="inline">
            <input class="form-check-input" type="checkbox" id="regex"{{ ' checked' if use_regex }}>
            <label class="form-check-label" for="regex">
                Use RegEx
            </label>
        </div>
        <div class="col input-group">
            <label for="replace" class="col-2 col-form-label">Replace</label>
            <input type="text" class="form-control" aria-label="replace" id="replace" value="{{ replace }}">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="mb-2 btn-block d-flex justify-content-center"  role="group">
            <a class="btn btn-primary mx-2" href="#" id="preview">Preview/start over</a>
            <a class="btn btn-primary mx-2 disabled" href="#" id="skip-page" data-action-button="true" data-shortcut-key="s"><u>S</u>kip page</a>
            <a class="btn btn-primary mx-2 disabled" href="#" id="select-all" data-action-button="true" data-shortcut-key="a">Select <u>a</u>ll</a>
            <a class="btn btn-primary mx-2 disabled" href="#" id="deselect-all" data-action-button="true" data-shortcut-key="d"><u>D</u>eselect all</a>
            <a class="btn btn-primary mx-2 disabled" href="#" id="replace-remove" data-action-button="true" data-shortcut-key="r">Replace/save unselected and <u>r</u>emove selected</a>
            <a class="btn btn-primary mx-2 disabled" href="#" id="replace-leave" data-action-button="true" data-shortcut-key="l">Replace/save unselected and <u>l</u>eave selected</a>
            <a class="btn btn-danger mx-2 disabled" href="#" id="replace-all" data-action-button="true" data-shortcut-key="r" data-shortcut-ctrl="true">Replace all matches (<u>Ctrl + R</u>)</a>
            <a class="btn btn-danger mx-2 disabled" href="#" id="remove-all" data-action-button="true" data-shortcut-key="x">Remove all rows in data (<u>X</u>)</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <p>
            Showing
                <span id='showing-from'>0</span>
             to 
                <span id='showing-to'>0</span>
             of 
                <span id='showing-total'>0</span>
             rows
                (<span id='num-selected'>0</span> selected)</span>
        </p>
    </div>
</div>
</form>

<div class="mx-3 pb-1">
    <table class="table table-packed" id="data-table">
        <thead class="thead-dark">
            <tr>
                <th class="col-1"></th>
                <th class="col-1">Index</th>
                <th class="col-5">Source</th>
                <th class="col-5">Target</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}