{% extends 'main.html' %}
{% set active_page = "source_dup" %}

{% block imports %}
    <script src="{{ url_for('static', filename='js/source_dup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shortcuts.js') }}"></script>
{% endblock %}

{% block content %}
<form class="form-horizontal" id="settings">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="mb-2 btn-block d-flex justify-content-center align-items-center" role="group">
            <a class="btn btn-primary mx-2" href="#" id="start-over"><u>S</u>tart over</a>
            <a class="btn btn-primary mx-2" href="#" id="skip-page">Ski<u>p</u></a>
            <a class="btn btn-primary mx-2" href="#" id="select-all">Select <u>a</u>ll</a>
            <a class="btn btn-primary mx-2" href="#" id="deselect-all"><u>D</u>eselect all</a>
            <a class="btn btn-primary mx-2" href="#" id="submit">Keep selected and save changes (<u>Enter</u>)</a>
            <div class="form-check mx-3" display="inline">
                <input class="form-check-input" type="checkbox" value="" id="submitImmediately">
                <label class="form-check-label" for="submitImmediately">
                    Submit immediately upon selection
                </label>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <p>
            Showing source 
                <span id='source-number'>0</span>
             of 
                <span id='num-sources'>0</span>
        </p>
    </div>
</div>
</form>



<div class="mx-3 pb-1">
    <table class="table table-packed" id="data-table">
        <thead class="thead-dark">
            <tr>
                <th class="col-1"></th>
                <th class="col-1">Index</th>
                <th class="col-5">Source</th>
                <th class="col-6">Target</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!-- <div class="m-3 text-center">No matches found.</div> -->
{% endblock %}