{% extends 'main.html' %}

{% block imports %}
<script type="text/javascript">
    issueId = "{{ filter_id }}";
    editUrl = "{{ url_for('edit_.edit') }}";
</script>
<script src="{{ url_for('static', filename='js/actions.js') }}"></script>
{% endblock %}

{% block content %}
<nav class="mx-3 nav nav-pills nav-fill d-flex align-items-center">
    <span class="m-2 nav-text col-1"><b>Filters</b></span>
    {% for display_name, this_filter_id in issues %}
    <a class="m-2 nav-link btn-primary {{ 'active' if filter_id==this_filter_id }}"
        href="{{ url_for('edit_.edit', filter_id=this_filter_id) }}" |>({{loop.index}}) {{display_name}}</a>
    {% endfor %}
</nav>
{% if actions is not none %}
<nav class="mx-3 mb-2 nav nav-pills nav-fill d-flex align-items-center">
    <span class="m-2 nav-text col-1"><b>Actions</b></span>
    {% for action in actions %}
    <a class="m-2 nav-link {{ action.class}}" href="#" id="action_{{ action.id }}" data-shortcut="{{ action.shortcut }}"
        data-action="{{ action.id }}">
        {{ action.text }} ({{action.shortcut | title}})</a>
    {% endfor %}
</nav>
{% endif %}
{% if df is defined %}
{% if df is not none %}
<div class="mx-3 pb-1">
    <table class="table table-packed">
        <thead class="thead-dark">
            <tr>
                <th class="col-1">Index</th>
                <th class="col-5">Source</th>
                <th class="col-6">Target</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in df.iterrows() %}
            <tr class="{% if row.keep %}{{ 'table-success' }} {% else %}{{ 'table-danger' }} {% endif %}">
                <td>{{ index }}</td>
                <td>{{ row.source }}</td>
                <td>{{ row.target }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="m-3 text-center">No matches found.</div>
{% endif %}
{% endif %}
{% endblock %}