{% extends 'main.html' %}
{% set active_page = "upload" %}

<!-- Dropzone -->
{% block imports %}
<script src="/static/js/dropzone.min.js"></script>
<link rel="stylesheet" href="static/css/dropzone.min.css" type="text/css" />
<script>
Dropzone.autoDiscover = false;
$(() => {
    var myDropzone = new Dropzone('#dropzone');
    Dropzone.options.myDropzone = {
        maxFiles: 1,
        autoProcessQueue: false,
    };
    myDropzone.on('addedfiles', (files) => {
        const numFiles = files.length;
        if (numFiles > 1) {
            window.location = "{{ url_for('error_.error', error_type='more_than_one_file') }}";
        }
    });
    myDropzone.on('success', (file, response) => {
        const parsedResponse = JSON.parse(response);
        if (parsedResponse.success === true) {
            window.location = "{{ url_for('upload_.upload', file_uploaded=True) }}";
        } else {
            window.location = "{{ url_for('error_.error', error_type='ERROR_TYPE_HERE') }}".replace('ERROR_TYPE_HERE', parsedResponse.error);
        }
    });
});
</script>
{% endblock %}

{% block content %}

{% if file_uploaded is defined %}
<div class="m-3 text-center">
	<p>Your data was uploaded successfully.
		{% if num_removed > 0 %}{{ num_removed }} duplicate rows were removed. There are {{ num_remaining }} rows
		remaining.
		{% else%} No duplicate rows were found. Your data contains {{ num_remaining }} rows.
		{% endif %}
	</p>
	<p><a href="{{ url_for('summary_.summary') }}">Click here</a> to see a summary of your data and potential issues.
	</p>
</div>
{% else %}
<form action="{{ url_for('upload_.upload') }}" class="dropzone" id="dropzone" method="POST"
	enctype="multipart/form-data">
	<div class="dz-message" data-dz-message><span>Drop a file here to upload your data.</span></div>
	{{ dropzone.style('border: 2px dashed #0087F7; padding: 5px; margin: 10px; min-height: 100px;') }}
</form>
{% endif %}
{% endblock %}