{% extends 'main.html' %}
{% set active_page = "upload" %}

<!-- Dropzone -->
{% block imports %}
<script src="/static/js/dropzone.min.js"></script>
<link rel="stylesheet" href="static/css/dropzone.min.css" type="text/css" />
{% endblock %}

{% block content %}

{% if file_uploaded is defined %}
<div class="m-3 text-center">
	<p>Your data was uploaded successfully. {{ num_removed }} duplicate rows were removed. There are {{ num_remaining }} rows remaining.</p>
	<p><a href="{{ url_for('summary_.summary') }}">Click here</a> to see a summary of your data and potential issues.</p>
</div>
{% else %}
<form action="{{ url_for('upload_.upload') }}" class="dropzone" id="dropzone" method="POST" enctype="multipart/form-data">
	<div class="dz-message" data-dz-message><span>Drop a file here to upload your data.</span></div>
	{{ dropzone.style('border: 2px dashed #0087F7; padding: 5px; margin: 10px; min-height: 100px;') }}	
</form>

<script>
Dropzone.autoDiscover = false;
$(function() {
	var myDropzone = new Dropzone("#dropzone");
	Dropzone.options.myDropzone = {
		maxFiles: 1
	};
	myDropzone.on("addedfile", function(){
		// Called when a file is added
		myDropzone.processQueue();
	});
	myDropzone.on("queuecomplete", function(file) {
		// Called when all files in the queue finish uploading
		window.location = "{{ url_for('upload_.upload', file_uploaded=True) }}";
	});
});
</script>
{% endif %}
{% endblock %}