{% extends 'main.html' %}
{% set active_page = "view_data" %}

{% block imports %}
<script>
	selectorsAndClasses = {
		'.row_heading': 'col-1 text-right pr-1',
		'th.col0': 'col-5 p-0 m-0',
		'th.col1': 'col-5 p-0 m-0'
	}
</script>
<script src="static/js/main.js"></script>
{% endblock %}

{% block content %}
	<div container class="mx-3">
		<table class="table table-packed">
			<thead>
				<tr>
					{% for column_name in columns %}
						<th class="col-6">{{ column_name }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for index, row in df.iterrows() %}
					<tr>
					{% for column_name in columns %}
						<td>{{ row[column_name] }}</td>
					{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}